.container-contacts {
  width: 95%;
  max-width: 90%;
  ;
  margin: 2rem auto;
  font-family: "Segoe UI", Arial, sans-serif;
  color: #1a4775;

  h1 {
    text-align: left;
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 1.8rem;
  }

  .contacts-header {
    display: grid;
    grid-template-columns: 2.5fr 1.8fr 2.8fr 1.2fr 2fr;
    align-items: center;
    background-color: #1e4875;
    color: #fff;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 8px 8px 0 0;


    span {
      text-align: center;
    }
  }


  .contacts-list {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #d7e0ea;
    border-top: none;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;

    a {
      text-decoration: none;
      color: inherit;
      display: block;


    }

    &:first-child {
      border-top: none;
    }
  }
}

.new-contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.4rem;
  height: 3.4rem;
  background-color: #0a81cd;
  color: #f9fbff;
  border-radius: 50%;
  font-size: 1.8rem;
  text-decoration: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: #1a4775;
    transform: scale(1.08);
  }
}


@media (max-width: 768px) {
  .contacts-header {
    display: none;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
    padding: 1rem;
  }

  .contacts-list a {
    border-bottom: 1px solid #e0e6ed;
  }

  .new-contact-btn {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}